<section class="about-container">
    <h1 class="text-center mb-5" style="margin-top: 10px; margin-left: 0%; color: rgb(115, 115, 231); ">About</h1>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    
        <h4>Follow us</h4>
        <div class="media">
        <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
        <a href="#" class="fa fa-youtube"></a>&nbsp;&nbsp;
        <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;
        <a href="#" class="fa fa-twitter"></a>
    </div>
   
</section>
