.navbar{
    background-color: rgb(174, 175, 231);
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar-nav{
    margin-left: 75%;

}
.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;

}
.navbar-brand{
    font-family: cursive;
    color: seashell;
    font-weight: bolder;
    font-size: x-large;
}
